.card {
-webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}


p {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

button {
	margin: auto;
	font-size: 18px;
	border-radius: 50%;
	border-width: 0;
	padding: 20px;
	display: block;
}

button:hover {
	background-color: blue;
	color:white;
}
